{#{{ breakpoint() }}#}

<div class="popular-news">
    {% for entry in content %}
        <div class="single-news">
            <div class="block-image">
                <a href="{{ entry.nid }}"> <img src="{{ entry.image }}" /></a>
            </div>
            <div class="block-title">
                <a href="{{ entry.nid }}">{{ entry.title }}</a>
                <p>{{ entry.created }}</p>
            </div>
        </div>
    {% endfor %}
</div>