<div class="register-form-block" style="display: none;">
    <div class="register-form">
        <h3>CREATE AN ACCOUNT</h3>
        <p>Fields marked with an asterisk (*) are required.</p>
        <div class="field-name">
            {{ form.name }}
        </div>
        <div class="field-username">
            {{ form.username }}
        </div>
        <div class="field-password">
            {{ form.pass }}
        </div>
        <div class="field-confirm-pass">
            {{ form.passc }}
        </div>
        <div class="field-email">
            {{ form.email }}
        </div>
        <div class="field-confirm-email">
            {{ form.emailc }}
        </div>
        <div class="field-captcha">
            {{ form.captcha }}
        </div>
        <div class="field-register-submit">
            {{ form.register }}
        </div>
    </div>
</div>